#main-navbar a {
  color:white;
}
#moreStorebrand a {
  color:white;
}
.moreStorebrand {
  background-color: @stb-secondary-charcoal;
}
.navbar {
  margin-bottom:0px;
  background:white; //transparent
  border:none;
  > .container.two {
    background-color: @stb-primary-color;
  }
  > .container.one {
    background-color: white;
  }

}
.navbar-inverse .navbar-nav > .open {
  > a, > a:hover, > a:focus {
    background-color:@stb-primary-color;
  }
}
#navbar-second > li:hover {
  background-color:@stb-primary-color-darker;
}
.navbar .dropdown-menu {
  background-color:@stb-primary-color-darker;
  border:none;
  margin-left:-15px;
}
.navbar-nav > .open > .dropdown-menu > li > a:hover {
  background-color:@stb-primary-color;
}
