.stb-box {
  padding: 24px 24px 12px 24px;
  margin-bottom: 20px;
  border: 1px solid transparent;  
  
  &.first {
    .stbcolor-primary .third;
    > p {
      color: @stb-primary-black;
    }
  }
  
  &.second {
    .stbcolor-secondary.sixth;
    a {
      font-weight: strong;
    }
  }
  
  &.third {
    .stbcolor-gray .first;
    border: 1px solid @stb-gray-third;
  }
  
  &.fourth {
    .stbcolor-background .first;
  }  

  &.fifth {
    .stbcolor-background .second;
  }    

  &.sixth {
    .stbcolor-background .third;
  }

  &.seventh {
    .stbcolor-gray .third;
  }

  &.noBorder{
    border: none;
  }
  
  &.dark {
    color: @stb-primary-white;
    & h1, h2, h3, h4, h5, h6, p {
      color: @stb-primary-white;
    }
  }  

  // Forcing solid border
  &.border {
    border: 1px solid;
    border-color: @stb-secondary-charcoal;
    
    &.red {
    	border-color: @stb-primary-color;
    }
    
	  &.gray {
	    border-color: @stb-gray-second;
    }
  }
	
  // Adding possibility of thicker border
  &.fat {
		border: 2px solid;
	}

  // Forcing dotted border
  &.dotted {
    border: 1px dotted;
  }

  &.dashed {
    border: 1px dashed;
  }


  ul.stb,ol.stb {
    padding-bottom: 0;
  }

  &.info {
    padding: 24px;
    h4{
      margin: 6px 9px 6px 0;
    }
    @media screen and (max-width: 768px) {
      padding: 12px;
    }
  }

  h3+h2{
    margin: 18px 12px 12px 0;
  }

  &.mini{
    background-color: @stb-gray-first;

    &.row{
      padding-bottom: 24px;
    }

    @media screen and (max-width: 768px) {
      padding: 12px 12px 6px;
      &.row{
        padding-bottom: 12px;
      }

      &:hover {
        padding: 12px 12px 6px;
      }

      &.wide{
        &:hover {
          padding: 12px;
        }
      }

    }
     
    @media (max-width: @screen-sm-max) {
      &.narrow .image {
        float: left;
		margin-right: 20px;
	  }
    }
    
     @media (min-width: @screen-md-min){ 
     	&.narrow img {
     		padding-bottom: 20px;
     	}
     }
     
    .text{
      h2,h3 {
        padding-top: 0;
        margin: 0 12px 12px 0;
      }
    }


    &.wide{
      margin-left:0;
      margin-right: 0;
      .image {
        float: left;
	    padding-right: 20px;
	    height: 100%
      }
    }
  }

  &.big{
    background-color: @stb-gray-first;
    padding: 24px;
    @media screen and (max-width: 768px) {
      padding: 12px;
    }

    &:hover {
      @media screen and (max-width: 768px) {
        padding: 12px;
      }
    }
    .row{
      padding-bottom: 0;
      h2,h3{
        margin: 12px 12px 12px 0;
      }
    }
  }

  h3{
    font-weight: normal;
    font-family: @font-family-signa-light;
    a, a:hover {
      padding-bottom: 0px;
    }
  }

}

/* Notification boxes */

.msgIcon {
  padding-top: 24px;
  text-align: center;
}

.msgText {
  padding: 24px;
}

@media screen and (max-width: 992px) {
  .msgText {
    width: 100%;
    padding: 12px;
  }
  .msgIcon {
    width: 100%;
    padding: 12px;
    text-align: left;
  }
}

&.infoIcon {
	background: transparent url("../images/InfoShoutout.png") left top no-repeat;
	width: 48px;
	height: 48px;
    @media screen and (max-width: 768px) {
      margin-left: 4px;
    }
}

// Adjustments for displays with enhanced pixel density
@media
  (min--moz-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (-webkit-min-device-pixel-ratio: 2),
  (min-device-pixel-ratio: 2) {
  	.infoIcon {
	background: transparent url("../images/InfoShoutout@2x.png") left top no-repeat;
	background-size: 48px;
 }
  }

  /* Chat boxes */

.chatText{
  padding-left: 42px;
  margin-top: -20px;
}

p + div.iconInfo{
  padding-left: 42px;
  p:first-child{
    margin-top: -12px;
  }
  p{
    margin-top: -10px;
  }
}

a + div.iconInfo{
    padding-left: 42px;
    p:first-child{
      margin-top: 0px;
    }
    p{
      margin-top: -10px;
    }
}

.commonmessage, .errormessage, .successmessage{
  padding-top: 24px;
  padding-bottom: 24px;
  .row{
    padding-bottom: 0;
  }

  h3{
    margin: 12px 12px 12px 0;
  }
  .msgText, .msgIcon{
    min-height: 169px;
  }
}

.stb-link-group{
 h3{
   margin: 12px 12px 12px 0;
 }
}
