.stb-row {
  margin-left: 0px;
  margin-right: 0px;
  padding: 12px 10px 10px 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;  
   
   &.innerBox{
    margin-left: 10px;
    margin-right: 10px;
  } 

 
  &.first {
    .stbcolor-primary .third;
  }
  
  &.second {
    margin-left: 0px;
    margin-right: 0px;
    .stbcolor-secondary.sixth;
    a {
      font-weight: strong;
    }
  }
  
  &.third {
    .stbcolor-gray .first;
    border: 1px solid @stb-gray-third;
  }
  
  &.fourth {
    .stbcolor-background .first;
  }  

  &.fifth {
    .stbcolor-background .second;
  }   

 }

// Start of (slightly experimental) on-image caption with 2-3 lines of text
figure.stb-figure {
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  width: 271px;
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

figure.stb-figure > figcaption.stb-caption {
  z-index: 2;
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100%;
  margin: 0;
  padding: 10px;
  font-size: 14px;
  color: @stb-primary-white;
  background-color: rgba(0,0,0,0.6);
}
// End of on-image caption
 
//Adding top padding for wide color
  .top-pad {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
//Gives no gap between rows - needs to be modified
  .nogap{
  margin-bottom:0px;
}

// Various top and bottom gaps for all screen widths
.top-gap-70 {
  margin-top: 70px;
}

.top-gap-60 {
  margin-top: 60px;
}

.top-gap-50 {
  margin-top: 50px;
}

.top-gap-40 {
  margin-top: 40px;
}

.top-gap-30 {
  margin-top: 30px;
}

.top-gap-20 {
  margin-top: 20px;
}

.top-gap-10 {
  margin-top: 10px;
}

.bottom-gap-50 {
  margin-bottom: 50px;
}

.bottom-gap-40 {
  margin-bottom: 40px;
}

.bottom-gap-30 {
  margin-bottom: 30px;
}

.bottom-gap-20 {
  margin-bottom: 20px;
}

.bottom-gap-10 {
  margin-bottom: 10px;
}

// Various top and bottom gaps for full width only
.top-gap-70-mdlg {
  margin-top: 70px;
}

.top-gap-60-mdlg {
  margin-top: 60px;
}

.top-gap-50-mdlg {
  margin-top: 50px;
}

.top-gap-40-mdlg {
  margin-top: 40px;
}

.top-gap-30-mdlg {
  margin-top: 30px;
}

.top-gap-20-mdlg {
  margin-top: 20px;
}

.top-gap-10-mdlg {
  margin-top: 10px;
}

.bottom-gap-50-mdlg {
  margin-bottom: 50px;
}

.bottom-gap-40-mdlg {
  margin-bottom: 40px;
}

.bottom-gap-30-mdlg {
  margin-bottom: 30px;
}

.bottom-gap-20-mdlg {
  margin-bottom: 20px;
}

.bottom-gap-10-mdlg {
  margin-bottom: 10px;
}

@media screen and (max-width:992px) {
  .top-gap-70-mdlg {
    margin-top: 0px;
  }

  .top-gap-60-mdlg {
    margin-top: 0px;
  }  
  
  .top-gap-50-mdlg {
    margin-top: 0px;
  }
  
  .top-gap-40-mdlg {
    margin-top: 0px;
  }  
  
  .top-gap-30-mdlg {
    margin-top: 0px;
  }

  .top-gap-20-mdlg {
    margin-top: 0px;
  }

  .top-gap-10-mdlg {
    margin-top: 0px;
  }

  .bottom-gap-50-mdlg {
    margin-bottom: 0px;
  }

  .bottom-gap-40-mdlg {
    margin-bottom: 0px;
  }

  .bottom-gap-30-mdlg {
    margin-bottom: 0px;
  }

  .bottom-gap-20-mdlg {
    margin-bottom: 0px;
  }

  .bottom-gap-10-mdlg {
    margin-bottom: 0px;
  }  
  
}

// Various top and bottom gaps for all screen widths
.width-75 {
  width: 75%;
}

.width-50 {
  width: 50%;
}

// Various top and bottom gaps for full width only

.width-75-mdlg {
  width: 75%;
}

.width-50-mdlg {
  width: 50%;
}

@media screen and (max-width:992px) {
  .width-75-mdlg {
    width: 100%;
  }

  .width-50-mdlg {
    width: 100%;
  }
}
