// Navigation on top of page

.navbar {
  background-color: @stb-primary-color-darker;
  border-radius: 0px;
  padding: 0px;
  height: 80px;
}

.navbar-header {
  background-color: @stb-primary-white;
  height: 100%;
}

.navbar-header .logo {
  float: right;
  margin-right: 10%;
  margin-top: 20px;
}