@mobile-dropdown-color : @stb-primary-white;

// tablet and mobile styling 
@media screen and (max-width: 991px) {
  body {
    padding-top: 80px;
  }
}

// Navigation at the top of page
#top-menu-nav{

  .navbar .container, .container .navbar-header, .container .navbar-collapse, .container .navbar-nav{
    padding: 0;
  }

  // Beginning desktop styling
  .navbar.navbar-default {
    background: none;
    padding: 0px;
    height: 80px;
    border: 0px;
    margin-bottom: 0;

    .navbar-nav{
      > .open > a,
      > .open > a:hover,
      > .open > a:focus,
      > li >a:focus,
      > li >a:active {
        background: none;
        color: @stb-primary-white;
      }
    }

    //Navbar header and logo
    .navbar-header {
      background-color: @stb-primary-white;
      height: 100%;
      //Top menu logo
      .logo {
        margin-top: 20px;
        padding-left: 6px;
      }
    }

    //Dekstop styling for top menu square links
    &.desktop{
      .navbar-nav {
        background-color: @stb-primary-color-darker;
      }

      .navbar-nav>li.group:hover {
        background-color:@stb-primary-color-even-darker
      }

      .rightColor{
        padding-right: 0px;
        padding-left: 0px;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 50%;
        height: 80px;
        background-color: @stb-primary-color-darker;
        z-index: -10
      }

      .navbar-nav.nav li.open {
        background-color: @stb-primary-color;
      }

    }

    //Top menu square links
    .nav > li {
      list-style: none;
      background-color: @stb-primary-color-darker;
      height: 80px;
      padding: 0px;
      width: 25%;

      //Different icons with background color
      &.private {
        background: @stb-primary-color-darker url("../images/private.png") 20% 50% no-repeat;
      }

      &.company.current {
        background: @stb-primary-color url("../images/private.png") 20% 50% no-repeat;
      }

      &.private.open {
        background: @stb-primary-color url("../images/private.png") 20% 50% no-repeat !important;
      }

      &.login {
        background: @stb-primary-color-darker url("../images/login.png") 25% 48% no-repeat;
      }

      &.login.open {
        background: @stb-primary-color url("../images/login.png") 25% 48% no-repeat;
      }

      &.login .login-section {
        padding: 0;
      }

      &.current {
        background-color: @stb-primary-color;
      }

      > a {
        color: @stb-primary-white;
        font-family: @font-family-sans-serif-bold;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 48px;
        font-weight: bold;
        display: inline-block;
        text-decoration: none;
        padding-left: 38%;
        width:100%;
        height:100%;
      }
      //Search field styling
      &.search {
        padding-top:20px;
        padding:20px 20px 0 20px;
        text-align:right;
        float:right;
        input {
          outline: none;
          width: 100%;
          background-color:@stb-primary-color;
          padding:5px 15px;
          border:0;
          height:40px;
        }
        .search-icon {
          position:absolute;
          top: 25%;
          right:0;
          height:40px;
          width:100%;
          max-width:30px;
          border:0;
          background-color: @stb-primary-color;
          //background:@stb-primary-color url(../images/search.png) center 8px no-repeat;

          .search{
            display: block;
            position: absolute;
            top: 25%;
          }
        }
      }
    }

    //Dropdown styling
    .dropdown-menu {
      margin: 0;
      background-color: @mobile-dropdown-color;
      box-shadow: 0px 14px 12px rgba(0, 0, 0, 0.176);
      border: none;
      padding: 0;

      > li{

        h4 {
          height: 35px;
          padding: 0px;
        }

        a {
          padding: 0;
          color: @stb-secondary-charcoal;
          line-height: 18px;
        }

        ul {
          list-style-type: none;
          padding: 0; margin: 0;

          li {
            padding-bottom: 12px;
            margin: 0;

            h4 a {
              border-bottom: 1px solid;
            }
          }
        }
      }
    }

    @media screen and (min-width: 992px) {
      #verktoy{
        padding: 10px 0 10px 10%;
      }
    }

    @media screen and (min-width: 1200px) {
      #verktoy{
        padding: 10px 0 10px 15%;
      }
    }

    #desktopmenu{
      ul{
        list-style-type: none;
        padding: 0;
      }

      a{
        color: @stb-secondary-charcoal;
        border-bottom: none;
        >span.stb-sprite-medium{
          margin-right: 0;
        }

        &:hover{
          color: @stb-primary-color;
          background-color: transparent;
          border-bottom: 1px solid @stb-primary-color;
        }
      }

      li{
        padding-bottom: 12px;
      }

      //Side links with illustrations
      .sidelinks {
        li {
          margin-bottom: 20px;
        }
        a {
          font-family: "open sans bold";
          text-decoration: none;
          &:hover {
            border-bottom: none;
            span:last-child{
              border-bottom: 1px solid @stb-primary-color;
            }
          }

        }
      }

      #verktoy {
        margin: 0;
        clear: both;
        padding-top: 15px;
        button{
          width: 160px;
        }
      }
    }

    #loginmenu{
      a{
        color: @stb-secondary-charcoal;
        border-bottom: none !important;
        >span.stb-sprite-medium{
          margin-right: 0;
        }
      }

      a:hover{
        color: #da291c !important;
        background-color: transparent;
      }
    }
  }

  // Ending desktop styling

  // Beginning tablet styling
 @media screen and (max-width: 991px) {
      #nav .navbar {
        border: 0px;
        border-radius: 0px;
        min-height: 80px;
        margin-bottom: 0px;
      }

      .stb-logo-mobile {
        padding-top: 24px;
      }

      #nav .navbar .nav{
        > li a:hover,
        > li a:active {
          background: none;
        }
        > li > a {
          position: relative;
          border-radius: 0px;
          display: block;
          padding-left: 10px;
          // This fixes the v-align of tablet menu, but messes up Creuna mobile menu top -> margin-top: 12px;
        }
      }
   }
   // Ending tablet styling

  // Beginning mobile styling
  @media screen and (max-width: 768px) {
    .navbar {
      margin-bottom: 0px;
      border-radius: 0px;
    }
  }
  // Ending mobile styling
}

//Mobile menu styling
#mobilemenu{
  border-bottom: solid 2px @stb-secondary-charcoal;
  a{
    border: none;
  }

  .panel {
    border: none;
  }

  .panel-heading {
    border-bottom: 1px solid @stb-secondary-charcoal;
  }

  .panel-default>.panel-heading{
    background-color: @stb-primary-white;
  }

  h4.panel-title{
    font-size: 16px;
    a{
      border-bottom: none;
    }
  }

  .panel.active, .panel.active .panel-heading, .panel.active .panel-body, .panel.active .menu-item{
    background: @stb-gray-first;
  }

  .panel.active{
    &:first-child{
      border-top: 1px solid @stb-secondary-charcoal;
    }
    .panel-heading{
      border: none;
    }

    .panel-body{
      border: none;
      border-bottom: 1px solid @stb-secondary-charcoal;
    }
  }

  .panel-group .panel+.panel {
    margin-top: 0;
  }

  .stb-list-group a.menu-item{
    font-family: 'SignaWeb-Light';
  }

  li{
    background: @stb-gray-fourth;
    height: 50px;

    a{
      color: white;
      border: none;
      padding: 10px 0px;
    }

    &.active{
      background: @stb-secondary-charcoal;
      border: none;
    }

    &.tab-box{
      font-family: "Open Sans Bold",Arial,ArialMT,sans-serif;
      font-size: 16px;
      text-align: center;
      padding-left: 2px;
      padding-top: 4px;
      border-left: 2px solid white;
    }

    &.tab-box:first-child{
      border-left: none;
    }

    &.active a{
      background: @stb-secondary-charcoal;
      border: none;
    }
  }

  .nav a:hover{
    background-color: transparent !important;
  }

  .panel-body{
    padding-top: 0px;
    padding-bottom: 0px;
  }

  a.menu-item{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    font-size: 16px;
    font-family: 'SignaWeb-Light';
    border: none;
    color: #404040;
  }

  .twitter-typeahead{
    width: 99%;
  }

  .twitter-typeahead .typeahead{
    width: 99%;
    border: 2px solid #404040;
  }


  #verktoymobile {
    padding: 0;
    div {
      margin-bottom: 10px;
    }
    button{
      width: 160px;
    }
  }

  @media screen and (max-width: 768px) { 
	
    #verktoymobile {
  	  padding: 0;
      div {
        margin-bottom: 10px;
      }
      button{
        width: 120px;
      }
    }
    }
  }

#start-login-form, #start-login-form-mobile {
	
 .form-control-feedback {
	  top: 8px !important;
	  right: 120px;
 }
} 




