.stb-footer a.stb-footer-link {
  text-decoration: none;
}
	
.stb-footer ul li {
  list-style-type: none;	
}
 
.stb-footer.stb-footer ul.stb {
  margin: 0;
}

.stb-footer .info ul.stb {
  padding-top: 12px;
}

.stb-footer .contact ul.stb {
  padding-top: 6px;
}

.stb-footer .contact .earphone {
  color: @stb-primary-white;
}

.stb-footer .contact .ring {
  padding-left: 18px;
}

.stb-footer .content {
  margin-top: 24px; 
  padding-bottom: 24px;
}

.stb-footer h4 {
  color: @stb-primary-white;
  padding: 12px 10px 10px 0;
}

@media (max-width: 767px) {
  .stb-footer h4{
    padding: 24px 10px 10px 0;
  }
}

@media (min-width: 767px) {
  .border-left{
    border-left: medium solid @stb-primary-color-darker;
    margin-left: 20%;
    padding-left: 30%;
    height: 100%;
  }

  .border-right {
    border-right: medium solid @stb-primary-color-darker;
    margin-right: 10%;
    height: 100%;
  }
}