.stb-box {
  padding: 12px 24px 24px 24px;
  margin-bottom: 20px;
  border: 1px solid transparent;  
  
  &.first {
    .stbcolor-primary .third;
    > p {
      color: @stb-primary-black;
    }
  }
  
  &.second {
    .stbcolor-secondary.sixth;
    a {
      font-weight: strong;
    }
  }
  
  &.third {
    .stbcolor-gray .first;
    border: 1px solid @stb-gray-third;
  }
  
  &.fourth {
    .stbcolor-background .first;
  }  

  &.fifth {
    .stbcolor-background .second;
  }    

  &.sixth {
    .stbcolor-background .third;
  }

  &.seventh {
    .stbcolor-gray .third;
  }

  &.noBorder{
    border: none;
  }
  
  &.dark {
    color: @stb-primary-white;
    & h1, h2, h3, h4, h5, h6, p {
      color: @stb-primary-white;
    }
  }  

  // Forcing solid border
  &.border {
    border: 1px solid;
    border-color: @stb-secondary-charcoal;
    
    &.red {
    	border-color: @stb-primary-color;
    }
    
	  &.gray {
	    border-color: @stb-gray-second;
    }
  }
	
  // Adding possibility of thicker border
  &.fat {
		border: 2px solid;
	}

  // Forcing dotted border
  &.dotted {
    border: 1px dotted;
  }

  &.dashed {
    border: 1px dashed;
  }


  ul.stb,ol.stb {
    padding-bottom: 0;
  }

  &.info {
    padding: 24px;
    @media screen and (max-width: 768px) {
      padding: 12px;
    }
  }
  
  &.mini{
    background-color: @stb-gray-first;
    @media screen and (max-width: 768px) {
      padding: 12px;
    }
    outline: 1px solid @stb-gray-fifth;
   
  }

  &.mini:hover {
    @media screen and (max-width: 768px) {
      padding: 12px;
    }
    outline: 2px solid @stb-primary-color;
  
  }

  &.big{
    background-color: @stb-primary-white;
    padding: 24px;
    @media screen and (max-width: 768px) {
      padding: 12px;
    }
    outline: 1px solid @stb-primary-color;
  }

  &.big:hover {
    @media screen and (max-width: 768px) {
      padding: 12px;
    }
    outline: 2px solid @stb-primary-color;
  }

}

/* Notification boxes */

.msgIcon {
  width: 10%;
  position: absolute;
  height: 100%;
  padding: 24px 12px 12px 24px;
}

.msgText {
  width: 90%;
  margin-left: 10%;
  padding: 12px;
}

@media screen and (max-width: 500px) {
  .msgText {
    width: 80%;
  }
  .msgIcon {
    width: 20%;
  }
}

&.infoIcon {
	background: transparent url("../images/InfoShoutout.png") left top no-repeat;
	width: 48px;
	height: 48px;
    @media screen and (max-width: 768px) {
      margin-left: 4px;
    }
}

// Adjustments for displays with enhanced pixel density
@media
  (min--moz-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (-webkit-min-device-pixel-ratio: 2),
  (min-device-pixel-ratio: 2) {
  	.infoIcon {
	background: transparent url("../images/InfoShoutout@2x.png") left top no-repeat;
	background-size: 48px;
 }
  }

  /* Chat boxes */

.chatText{
  padding-left: 42px;
  margin-top: -20px;
}

p + div.iconInfo{
  padding-left: 42px;
  p:first-child{
    margin-top: -12px;
  }
  p{
    margin-top: -10px;
  }
}

a + div.iconInfo{
    padding-left: 42px;
    p:first-child{
      margin-top: 0px;
    }
    p{
      margin-top: -10px;
    }
}


/* Equal height boxes */

.eqheight-row {
	display: table;
}

.eqheight-row .column {
	display: table-cell;
}