.stb-modal {

  h3{
    margin: 12px 12px 12px 0;
  }

  .modal-header {
    padding: 24px 24px;
    height: 72px;

    h4{
      padding: 0 0 0 0;

      a.closeLink span.remove{
        margin-right: 0;
      }
    }

    @media(max-width:@screen-md-min) {
      padding: 6px 12px;
      height: 36px;
    }

  }

  .modal-content {
    border-radius: 0;
  }

  .close {
    opacity: 1;
  }

  ul {
    padding-left: inherit;
  }

  @media(min-width:@screen-md-min) {

    .modal-dialog{
        width: 50%;
    }
    .modal-dialog.modal-span8 {
      width: 66.7%;
    }
    .modal-dialog.modal-span6 {
      width: 50%;
    }
  }

  @media(max-width:@screen-md-min) {
    .modal-dialog {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }

    .modal-content {
      height: 100%;
      border-radius: 0;
    }
  }

}