

/****************************
*      Progress-bars        *
*****************************/

.stb-progress {
  .progress();
  background-color: @stb-gray-second;
  .box-shadow(inset 0 0 4px rgba(0,0,0,.35));

  &.grey {
    
    .stb-progress-bar {
      background-color: @stb-gray-third;
      .box-shadow(inset 0 0 4px rgba(0,0,0,.35));
    }
  }

  .stb-progress-bar {
    .progress-bar();
    .box-shadow(inset 0 0 4px rgba(0,0,0,.55));

    .border-right-radius(2px);
    background-color: @stb-secondary-forest;
  }
}