/* slider.less */
.jslider {
	display: block;
	width: 100%;
	position: relative;
  table {
    width: 100%;
    border-collapse: collapse;
    border: 0
  }
  td,.jslider th {
    padding: 0;
    vertical-align: top;
    text-align: left;
    border: 0
  }

  table,.jslider table tr,.jslider table tr td {
    width: 100%;
    vertical-align: top
  }

  .jslider-bg {
    position: relative;
    i {
      height: 12px;
      position: absolute;
      font-size: 0;
      top: 0;
      background: #FFF;
    }
    .v {
      position: absolute;
      width: 60%;
      left: 20%;
      top: 0;
      height: 5px;
      background-position: 0 -20px
    }
  }

  .jslider-pointer {
    position: absolute;
    cursor: pointer;
    cursor: hand;
    margin-top: 1px;
    border-radius: 3px;
    border: 1px solid gray;
    z-index: 1;
  }

  .jslider-pointer-to {
    left: 80%
  }

  .jslider-label {
    line-height: 12px;
    color: #444;
    white-space: nowrap;
    padding: 0 2px;
    position: absolute;
    top: -18px;
    left: 0;
  }

  .jslider-label-to {
    left: auto;
    right: 0
  }

  .jslider-value {
    white-space: nowrap;
    z-index: 1;
    text-align: center;
    span{
      padding-right: 6px;
    }
  }

  .jslider-label small,.jslider .jslider-value small {
    position: relative;
    top: -0.4em
  }

  .jslider-scale {
    position: relative;
    top: 15px
  }

}

.jslider-single .jslider-pointer-to,.jslider-single .jslider-value-to,.jslider-single .jslider-bg .v,.jslider-limitless .jslider-label {
	display: none
}

.jslider_round .jslider-pointer {
	min-width: 40px;
	margin-left: -25px
}

// NEW STYLES

.jslider {
    margin-top: 20px;
    margin-left: 120px;
    margin-bottom: 40px;
    height: 6px;
    width: 80%;

   .jslider-label {
    margin-top: 50px;
    font-family: @font-family-signa-light;
    font-size: 18px;
    color: @stb-secondary-charcoal;
  }

   .jslider-bg{
     i {
       height: 6px;
     }

     .l {
       height: 6px;
       background-color: @stb-gray-fifth;
       border:none;
     }

     .r {
       height: 6px;
       background-color: @stb-gray-second;
       border:none;
       .box-shadow(none);
     }
   }

   .jslider-pointer {
    top: -20px;
    left: -5px;
    height: 44px;
    max-height: 44px;
    width: 44px;
    max-width: 44px;
    background-color: transparent;
    background-image: url('../images/stb-slider-knob.png');
    background-repeat: no-repeat;
    border: 1;
    overflow: visible;
    border: 0;
  }

   .jslider-value {
    margin-top: 42px;
    font-family: @font-family-signa-book;
    font-size: 18px;
    color: @stb-secondary-charcoal;
    position: relative;
    width: 120px;
    left: -35px !important; // needs to override inline style set by jslider
  }
}

p.unit{
  float:left;
  padding-left: 6px;
  font-size: 18px;
}

.sliderInput{
  margin-top: -12px;
  float: left;
  width: 80px !important;
}
