/***********************************
*  Custom inline form based on BS  *
************************************/

form {
  .stb-form-group {

  	.form-group(); //Adds sane margins

    //Datepicker
    &.dateContainer{
      width: 250px;
    }
    .input-group.datePicker{
      height: 48px;
      .input-group-addon{
        border-radius: 0px;
      }
    }

    vertical-align: middle;
    margin-bottom: 0;
  	input {
      .form-control();
      // tweak the default BS transition-speed:
      .transition(~"all ease-in-out .025s, box-shadow ease-in-out .025s");
      border-radius: 0px;
      height: 48px;
      margin-bottom: 24px;

      &:hover {
        color: @stb-secondary-charcoal;
        border-color: @stb-secondary-charcoal;
        &[disabled] {
          border-color: @stb-gray-third;
        }
      }

      &:focus , &.has-submit:focus {
        border-color: #66afe9;
    	  // Color from Bootstrap ( We dont have this color defined in our palette.)
      }

      font-size: 16px;
      @media (max-width: @screen-sm-min) {
        font-size: 14px;
      }

    }

    > input.input-success {
      border: 1px solid  @stb-secondary-forest;
    }
    
    > input.input-fail {
      .stbcolor-visuals .third;
    }
 
    textarea {
      margin-bottom: 24px;
    }

    // input and buttons line up with no spacing:
 
    button.is-submit {
      height: 48px;
      float: left;
      margin-left: 6px;
      @media (max-width: @screen-xs-min) {
        margin-left: 0;
      }
    }
    
    > .error-message {
	    margin-bottom: 6px;
	    font-weight: 500;
 	    span.warning {
 	      margin-bottom: -3px;
      }
    }


    >label {
      margin-bottom: 6px;
      display: block;
      font-family: "open sans bold";
      font-size: 16px;
      @media (max-width: @screen-sm-min) {
        font-size: 14px;
      }
    }

    // Ok colors
    &.valid {
      input {
        background-color: @stb-chart-mint;
        border-color: @stb-outline-lime;
        color: @stb-primary-black;        
      }
    }

    &.has-success{
      input{
        border: 1px solid  @stb-secondary-forest;
      }
    }

    &.has-error{
      input{
        background-color: @stb-chart-rose;
        border: 1px solid @stb-primary-color-darker;
      }
    }

    select.form-control{
      height: 48px;
      font-size: 16px;
      @media (max-width: @screen-sm-min) {
        font-size: 14px;
      }
    }
  } //end:stb-form-group

  input:disabled {
  	background-color: @stb-gray-second;
    color: @stb-gray-third;
     &:hover, &:active, &:focus {
      // No change for disabled buttons
    }
  }
  
  button:disabled {
    background-color: @stb-gray-second !important;
    color: @stb-primary-black;
    cursor: not-allowed;
    &:hover, &:active, &:focus {
      // No change for disabled input fields
    }
  }

  .stb-input-group-addon{
    .input-group-addon();
    border: none;
    background: none;
    font-size: 18px;
  }

  label.with-help{
    span{
      margin-left: 12px;
      margin-bottom: -6px;
      cursor: pointer;
    }
  }




  &.stb-form-inline {

    .form-inline();
    .stb-form-group {
      display: inline-block;
      input {
        float: left;
      }
    }
    label {
      margin-bottom: 6px;
      display: block;
      font-family: "open sans bold";
      font-size: 16px;
      @media (max-width: @screen-sm-min) {
        font-size: 14px;
      }
    }
  }

  &.stb-form {
    button:disabled {
      background-color: @stb-gray-third !important;
      color: @stb-primary-black;
      cursor: not-allowed;

      &:hover, &:active, &:focus {
        // No change for disabled buttons
      }
    }

    label {
      margin-bottom: 6px;
      display: block;
      font-family: "open sans bold";
      font-size: 16px;
      @media (max-width: @screen-sm-min) {
        font-size: 14px;
      }
    }
  }
}

/***************************************************
* Fairly standard radio buttons and checkboxes     *
***************************************************/

.radiobuttons, .checkboxes{
  font-size: 16px;
  @media (max-width: @screen-sm-min) {
    font-size: 14px;
  }
  line-height: 24px;
  color: #404040;
  margin: 0 0 10px;
  input+label{
    font-family: "Open Sans",Arial,ArialMT,sans-serif;
  }
}

input[type=radio].stb-radio {
  //visibility: hidden;
  position: absolute;
  opacity: 0;
  left: -10000px;

  &:focus{
      +label{
        box-shadow: 0 0 10px #66afe9;
      }
  }

  & + label {
    display: inline-block;
    margin: -1px;
    padding: 8px 20px 8px 6px;
    border: solid 1px @stb-gray-third;
    span{
      background: url(../images/stb-sprites/ui-sprites.png) no-repeat transparent;
      background-position: -1px -160px;
      padding-left: 40px;
      padding-top: 10px;
      font-size: 16px;
    }
    font-weight: normal;
    //overflow: hidden;
    //text-overflow: ellipsis;
    //white-space: nowrap;
  }

  &:checked + label {
    span{
      background: url(../images/stb-sprites/ui-sprites.png) no-repeat transparent;
      background-position: -1px -200px;
      padding-left: 40px;
      padding-top: 10px;
      font-size: 16px;
    }
    background-color: @stb-secondary-charcoal;
    color:@stb-primary-white;
  }

  &:disabled + label {
    span{
      background: url(../images/stb-sprites/ui-sprites.png) no-repeat transparent;
      background-position: -1px -160px;
      padding-left: 40px;
      padding-top: 10px;
      font-size: 16px;
    }
    background-color: @stb-gray-second;
    color: @stb-gray-fourth;
  }

  & + i + label {
    display: inline-block;
    margin: -2px;
    padding: 8px 20px 8px 28px;
    border: solid 1px @stb-gray-third;
    span{
      background: url(../images/stb-sprites/ui-sprites.png) no-repeat @stb-primary-white;
      background-position: -1px -160px;
      font-size: 16px;
    }
  }


  &:checked + i + label {
    span{
      background: url(../images/stb-sprites/ui-sprites.png) no-repeat @stb-primary-white;
      background-position: -1px -200px;
      font-size: 16px;
    }

  }

  &:disabled + i +label {
    span{
      background: url(../images/stb-sprites/ui-sprites.png) no-repeat @stb-gray-second;
      background-position: -1px -160px;
      font-size: 16px;
    }
  }

  @media
  (min--moz-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (-webkit-min-device-pixel-ratio: 2),
  (min-device-pixel-ratio: 2) {

    & + label {
    	span {
    		   background: url(../images/stb-sprites/ui-sprites-2x.png) no-repeat transparent;
      // reduce to 1x size
      background-position: -1px -155px;
      background-size: 40px;
    	}
   

    }
    &:checked + label {
    	span {
    		 background: url(../images/stb-sprites/ui-sprites-2x.png) no-repeat transparent;
      // reduce to 1x size
      background-position: -1px -195px;
      background-size: 40px;
    	}
    }
    &:disabled + label {
    	
      span {
      	  background: url(../images/stb-sprites/ui-sprites-2x.png) no-repeat transparent;
      // reduce to 1x size
      background-position: -1px -155px;
      background-size: 40px;
      }
    
    }
    & + i + label {
      
      span {
      	  background: url(../images/stb-sprites/ui-sprites-2x.png) no-repeat transparent;
      // reduce to 1x size
      background-position: -1px -155px;
      background-size: 40px;
      }
    
    }
    &:checked + i + label {
    	span {
    		  background: url(../images/stb-sprites/ui-sprites-2x.png) no-repeat transparent;
      // reduce to 1x size
      background-position: -1px -195px;
      background-size: 40px;
    	}
    
    }
    &:disabled + i +label {
    	span {
    		   background: url(../images/stb-sprites/ui-sprites-2x.png) no-repeat transparent;
      // reduce to 1x size
      background-size: 40px;
      background-position: -1px -155px;
    	}
   
    }
  }
}

input[type=checkbox].stb-checkbox {
  //display: none;
  position: absolute;
  opacity: 0;
  left: -10000px;

  &:focus{
    +label{
      box-shadow: 0 0 10px #66afe9;
    }
  }

  & + label {
    display: inline-block; 
    margin: -2px;

    padding: 8px 20px 8px 6px;
    border: solid 1px @stb-gray-third;
    span{
      background: url(../images/stb-sprites/ui-sprites.png) no-repeat transparent;
      background-position: -1px 0px;
      padding-left: 40px;
      padding-top: 10px;
      font-size: 16px;
    }
    font-weight: normal;
    //overflow: hidden;
    //text-overflow: ellipsis;
    //white-space: nowrap
  }
  
  &:checked + label {
    span{
      background: url(../images/stb-sprites/ui-sprites.png) no-repeat transparent;
      background-position: -1px -40px;
      padding-left: 40px;
      padding-top: 10px;
      font-size: 16px;
    }
  }
  
  &:disabled + label {
    span{
      background: url(../images/stb-sprites/ui-sprites.png) no-repeat transparent;
      background-position: -1px 0px;
      padding-left: 40px;
      padding-top: 10px;
      font-size: 16px;
    }
    background-color: @stb-gray-second;
    color: @stb-gray-fourth;
  }
  & + i + label {
    display: inline-block;
    margin: -2px;
    padding: 8px 20px 8px 28px;
    border: solid 1px @stb-gray-third;
    background: url(../images/stb-sprites/ui-sprites.png) no-repeat @stb-primary-white;
    background-position: -1px 0px;
    span{
      background: url(../images/stb-sprites/ui-sprites.png) no-repeat transparent;
      background-position: -1px 0px;
      padding-left: 40px;
      padding-top: 10px;
      font-size: 16px;
    }

  }

  &:checked + i + label {
    span{
      background: url(../images/stb-sprites/ui-sprites.png) no-repeat transparent;
      background-position: -1px -40px;
      padding-left: 40px;
      padding-top: 10px;
      font-size: 16px;
    }
  }

  &:disabled + i + label {
    span{
      background: url(../images/stb-sprites/ui-sprites.png) no-repeat transparent;
      background-position: -1px -40px;
      padding-left: 40px;
      padding-top: 10px;
      font-size: 16px;
    }
    background: url(../images/stb-sprites/ui-sprites.png) no-repeat @stb-gray-second;
    background-position: -1px 0px;
    color: @stb-gray-fourth;
  }
  @media
  (min--moz-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (-webkit-min-device-pixel-ratio: 2),
  (min-device-pixel-ratio: 2) {
    & + label {
      span {
        background: url(../images/stb-sprites/ui-sprites-2x.png) no-repeat transparent;
      background-position: -1px 5px;
      // reduce to 1x size
      background-size: 40px;	
      }
      
    }

    &:checked + label {
      span {
      	background: url(../images/stb-sprites/ui-sprites-2x.png) no-repeat transparent;
      background-position: -1px -35px;
      // reduce to 1x size
      background-size: 40px;
      }
      
    }

    &:disabled + label {
    	span {
    		 background: url(../images/stb-sprites/ui-sprites-2x.png) no-repeat transparent;
      background-position: -1px 5px;
      // reduce to 1x size
      background-size: 40px;
    	}
     
    }
    & + i + label {
    	span {
    		background: url(../images/stb-sprites/ui-sprites-2x.png) no-repeat transparent;
      background-position: -1px 5px;
      // reduce to 1x size
      background-size: 40px;
    	}
      
    }

    &:checked + i + label {
    	span {
    		   background: url(../images/stb-sprites/ui-sprites-2x.png) no-repeat transparent;
      background-position: -1px -35px;
      // reduce to 1x size
      background-size: 40px;
    	}
   
    }

    &:disabled + i + label {
    	span {
    		  background: url(../images/stb-sprites/ui-sprites-2x.png) no-repeat @stb-gray-second;
      background-position: -1px 5px;
      // reduce to 1x size
      background-size: 40px;
    	}
    
    }
  }
}

.formSection{
  margin: 48px 0 48px 0;
  display:none;
}
.formSection.active{
  display:block;
}

form{
  /* Override feedback icon position */

  .has-feedback{

    i.form-control-feedback {
      top: 8px !important;
    }

    .radiobuttons + i.form-control-feedback{
      top: 4px !important;
      right: -30px;
    }
    .checkboxes + i.form-control-feedback{
      top: 4px !important;
      right: -30px;
    }
    .selectContainer i.form-control-feedback{
      top: 4px !important;
      right: -30px;
    }
  }

  .dateContainer .form-control-feedback{
    right: -30px;
  }

  .stb-form-group .col-xs-1, .col-sm-1, .col-md-1,
  .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
  .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4,
  .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5,
  .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6,
  .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
  .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9,
  .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10,
  .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11,
  .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding-right: 0;
  }

  .panel-default{
    border-color: #ffffff;
    border-bottom-color: #dddddd;
  }
  .panel-default>.panel-heading{
    background-color: #ffffff;
  }

  h4.panel-title{
    color: @stb-primary-black;
    font-size: 24px;
    a{
     border-bottom: none;
    }
    a:visited{
      color : @stb-primary-black;
    }
    a:hover{
      color: @stb-primary-color;
    }
  }

  .help-block{
    font-family: "Open Sans Bold",Arial,ArialMT,sans-serif;
    font-size: 16px;
    color: @stb-primary-color !important;

    .stb-color-sprite-small.warning{
      margin-bottom: -1px;
    }

  }

}

form.login{
  h3{
    margin: 12px 12px 12px 0;
  }

  .stb-form-group.with-submit{
    width: 400px;
        @media (max-width: @screen-xs-min) {
         width: 200px;
         i.form-control-feedback{
              right: -30px;
         }
         input{
          width: 160px;
         }
      }
  }
  .stb-form-group{
         width: 200px;
         input{
           width: 200px;
         }
      }
}