/* Temporary styling of glyphicon. We will eventually replace all use of glyphicons with proprietary homemade icons. */
// Adjustments to BS default glyphicons
.stb-glyphicon {
  .glyphicon();
  font-size: 22px;
  color: @stb-secondary-forest;
}
/* End of glyphicon fix. */

.stb-sprite-small, 
.stb-sprite-medium,
.stb-color-sprite-small,
.stb-color-sprite-medium {
  display: inline-block;
}

.stb-theme-sprites{
  background: url("../images/stb-sprites/theme-sprites.png") no-repeat;
  background-size: 32px;
  width: 32px;
  height: 32px;
  display: inline-block;
  &.house{
    background-position: 0px 0px;
  }
  &.car{
    background-position: 0px -33px;
  }
  &.couple{
    background-position: 0px -66px;
  }
  &.bike{
    background-position: 0px -99px;
  }
  &.medal{
    background-position: 0px -132px;
  }
}

.stb-sprite-small {
  background: url("../images/stb-sprites/general-sprites.png") no-repeat;  
  width: 16px;
  height: 16px;
  
  &.chevron-up {
    background-position: 0px 0px;
    &.white {
      background-position: -100px 0;
    }
    &.red {
      background-position: -200px 0;
    }
  }

  &.chevron-down {
    background-position: 0px -100px;
    &.white {
      background-position: -100px -100px;
    }
    &.red {
      background-position: -200px -100px;
    }
  }

  &.chevron-left {
      background-position: 0px -200px;
    &.white {
      background-position: -100px -200px;
    }
    &.red {
      background-position: -200px -200px;
    }
  }
  
  &.chevron-right {
    background-position: 0px -300px;
    &.white {
      background-position: -100px -300px;
    }
    &.red {
      background-position: -200px -300px;
    }
  }
  
  &.arrow-up {
    background-position: 0px -400px;
    &.white {
      background-position: -100px -400px;
    }
    &.red {
      background-position: -200px -400px;
    }
  }

  &.arrow-down {
    background-position: 0px -500px;
    &.white {
      background-position: -100px -500px;
    }
    &.red {
      background-position: -200px -500px;
    }
  }

  &.arrow-left {
    background-position: 0px -600px;
    &.white {
      background-position: -100px -600px;
    }
    &.red {
      background-position: -200px -600px;
    }
  }
  
  &.arrow-right {
    background-position: 0px -700px;
    &.white {
      background-position: -100px -700px;
    }
    &.red {
      background-position: -200px -700px;
    }
  }
  
  &.remove {
    background-position: 0px -800px;
    &.white {
      background-position: -100px -800px;
    }
    &.red {
      background-position: -200px -800px;
    }
  }

  &.pencil {
    background-position: 0px -900px;
    &.white {
      background-position: -100px -900px;
    }
    &.red {
      background-position: -200px -900px;
    }
  }

  &.menu-bars {
    background-position: 0px -1000px;
    &.white {
      background-position: -100px -1000px;
    }
    &.red {
      background-position: -200px -1000px;
    }
  }
  
  &.globe {
    background-position: 0px -1100px;
    &.white {
      background-position: -100px -1100px;
    }
    &.red {
      background-position: -200px -1100px;
    }
  }
  
  &.search {
    background-position: 0px -1200px;
    &.white {
      background-position: -100px -1200px;
    }
    &.red {
      background-position: -200px -1200px;
    }
  }

  &.phone {
    background-position: 0px -1300px;
    &.white {
      background-position: -100px -1300px;
    }
    &.red {
      background-position: -200px -1300px;
    }
  }

  &.envelope {
    background-position: 0px -1400px;
    &.white {
      background-position: -100px -1400px;
    }
    &.red {
      background-position: -200px -1400px;
    }
  }
  
  &.chat {
    background-position: 0px -1500px;
    &.white {
      background-position: -100px -1500px;
    }
    &.red {
      background-position: -200px -1500px;
    }
  }
  
  &.employee {
    background-position: 0px -1600px;
    &.white {
      background-position: -100px -1600px;
    }
    &.red {
      background-position: -200px -1600px;
    }
  }

  &.facebook {
    background-position: 0px -1700px;
    &.white {
      background-position: -100px -1700px;
    }
    &.red {
      background-position: -200px -1700px;
    }
  }

  &.twitter {
    background-position: 0px -1800px;
    &.white {
      background-position: -100px -1800px;
    }
    &.red {
      background-position: -200px -1800px;
    }
  }
  
  &.youtube {
    background-position: 0px -1900px;
    &.white {
      background-position: -100px -1900px;
    }
    &.red {
      background-position: -200px -1900px;
    }
  }
  
  &.calc {
    background-position: 0px -2000px;
    &.white {
      background-position: -100px -2000px;
    }
    &.red {
      background-position: -200px -2000px;
    }
  }
  
  &.lock {
    background-position: 0px -2100px;
    &.white {
      background-position: -100px -2100px;
    }
    &.red {
      background-position: -200px -2100px;
    }
  }
  
  &.trash {
    background-position: 0px -2200px;
    &.white {
      background-position: -100px -2200px;
    }
    &.red {
      background-position: -200px -2200px;
    }
  }
  
  &.user {
    background-position: 0px -2300px;
    &.white {
      background-position: -100px -2300px;
    }
    &.red {
      background-position: -200px -2300px;
    }
  }

  &.blog {
    background-position: 0px -2400px;
    &.white {
      background-position: -100px -2400px;
    }
    &.red {
      background-position: -200px -2400px;
    }
  }  

  &.checkdot {
    background-position: 0px -2500px;
    &.white {
      background-position: -100px -2500px;
    }
    &.red {
      background-position: -200px -2500px;
    }
  }    

  &.checkdot {
    background-position: 0px -2500px;
    &.white {
      background-position: -100px -2500px;
    }
    &.red {
      background-position: -200px -2500px;
    }
  }   

  &.personal-menu {
    background-position: 0px -2600px;
    &.white {
      background-position: -100px -2600px;
    }
    &.red {
      background-position: -200px -2600px;
    }
  }   

  &.wrench {
    background-position: 0px -2700px;
    &.white {
      background-position: -100px -2700px;
    }
    &.red {
      background-position: -200px -2700px;
    }
  }  
  
  &.edit {
    background-position: 0px -2800px;
    &.white {
      background-position: -100px -2800px;
    }
    &.red {
      background-position: -200px -2800px;
    }
  }  
  
  &.pretzel {
    background-position: 0px -2900px;
    &.white {
      background-position: -100px -2900px;
    }
    &.red {
      background-position: -200px -2900px;
    }
  }   

  &.bubble {
    background-position: 0px -3000px;
    &.white {
      background-position: -100px -3000px;
    }
    &.red {
      background-position: -200px -3000px;
    }
  }
  
  &.play {
    background-position: 0px -3100px;
    &.white {
      background-position: -100px -3100px;
    }
    &.red {
      background-position: -200px -3100px;
    }
  } 

  &.calendar {
    background-position: 0px -3200px;
    &.white {
      background-position: -100px -3200px;
    }
    &.red {
      background-position: -200px -3200px;
    }
  }   

  &.postpone {
    background-position: 0px -3300px;
    &.white {
      background-position: -100px -3300px;
    }
    &.red {
      background-position: -200px -3300px;
    }
  } 
  
}

.stb-sprite-medium {
  background: url("../images/stb-sprites/general-sprites.png") no-repeat;  
  width: 24px;
  height: 24px;
	
  &.chevron-up {
    background-position: -300px 0px;
    &.white {
      background-position: -400px 0;
    }
    &.red {
      background-position: -500px 0;
    }
  }

  &.chevron-down {
    background-position: -300px -100px;
    &.white {
      background-position: -400px -100px;
    }
    &.red {
      background-position: -500px -100px;
    }
  }
  
  &.chevron-left {
    background-position: -300px -200px;
    &.white {
      background-position: -400px -200px;
    }
    &.red {
      background-position: -500px -200px;
    }
  }
  
  &.chevron-right {
    background-position: -300px -300px;
    &.white {
      background-position: -400px -300px;
    }
    &.red {
      background-position: -500px -300px;
    }
  }
  
  &.arrow-up {
    background-position: -300px -400px;
    &.white {
      background-position: -400px -400px;
    }
    &.red {
      background-position: -500px -400px;
    }
  }

  &.arrow-down {
    background-position: -300px -500px;
    &.white {
      background-position: -400px -500px;
    }
    &.red {
      background-position: -500px -500px;
    }
  }
  
  &.arrow-left {
    background-position: -300px -600px;
    &.white {
      background-position: -400px -600px;
    }
    &.red {
      background-position: -500px -600px;
    }
  }
  
  &.arrow-right {
    background-position: -300px -700px;
    &.white {
      background-position: -400px -700px;
    }
    &.red {
      background-position: -500px -700px;
    }
  }
  
  &.remove {
    background-position: -300px -800px;
    &.white {
      background-position: -400px -800px;
    }
    &.red {
      background-position: -500px -800px;
    }
  }

  &.pencil {
    background-position: -300px -900px;
    &.white {
      background-position: -400px -900px;
    }
    &.red {
      background-position: -500px -900px;
    }
  }  
  
  &.menu-bars {
    background-position: -300px -1000px;
    &.white {
      background-position: -400px -1000px;
    }
    &.red {
      background-position: -500px -1000px;
    }
  }
  
  &.globe {
    background-position: -300px -1100px;
    &.white {
      background-position: -400px -1100px;
    }
    &.red {
      background-position: -500px -1100px;
    }
  }
  
  &.search {
    background-position: -300px -1200px;
    &.white {
      background-position: -400px -1200px;
    }
    &.red {
      background-position: -500px -1200px;
    }
  }

  &.phone {
    background-position: -300px -1300px;
    &.white {
      background-position: -400px -1300px;
    }
    &.red {
      background-position: -500px -1300px;
    }
  }
  
  &.envelope {
    background-position: -300px -1400px;
    &.white {
      background-position: -400px -1400px;
    }
    &.red {
      background-position: -500px -1400px;
    }
  }
  
  &.chat {
    background-position: -300px -1500px;
    &.white {
      background-position: -400px -1500px;
    }
    &.red {
      background-position: -500px -1500px;
    }
  }
  
  &.employee {
    background-position: -300px -1600px;
    &.white {
      background-position: -400px -1600px;
    }
    &.red {
      background-position: -500px -1600px;
    }
  }

  &.facebook {
    background-position: -300px -1700px;
    &.white {
      background-position: -400px -1700px;
    }
    &.red {
      background-position: -500px -1700px;
    }
  }
  
  &.twitter {
    background-position: -300px -1800px;
    &.white {
      background-position: -400px -1800px;
    }
    &.red {
      background-position: -500px -1800px;
    }
  }
  
  &.youtube {
    background-position: -300px -1900px;
    &.white {
      background-position: -400px -1900px;
    }
    &.red {
      background-position: -500px -1900px;
    }
  }
  
  &.calc {
    background-position: -300px -2000px;
    &.white {
      background-position: -400px -2000px;
    }
    &.red {
      background-position: -500px -2000px;
    }
  }

  &.lock {
    background-position: -300px -2100px;
    &.white {
      background-position: -400px -2100px;
    }
    &.red {
      background-position: -500px -2100px;
    }
  }
  
  &.trash {
    background-position: -300px -2200px;
    &.white {
      background-position: -400px -2200px;
    }
    &.red {
      background-position: -500px -2200px;
    }
  }
  
  &.user {
    background-position: -300px -2300px;
    &.white {
      background-position: -400px -2300px;
    }
    &.red {
      background-position: -500px -2300px;
    }
  }
  
  &.blog {
    background-position: -300px -2400px;
    &.white {
      background-position: -400px -2400px;
    }
    &.red {
      background-position: -500px -2400px;
    }
  }   
  
  &.checkdot {
    background-position: -300px -2500px;
    &.white {
      background-position: -400px -2500px;
    }
    &.red {
      background-position: -500px -2500px;
    }
  }  

  &.personal-menu {
    background-position: -300px -2600px;
    &.white {
      background-position: -400px -2600px;
    }
    &.red {
      background-position: -500px -2600px;
    }
  }   

  &.wrench {
    background-position: -300px -2700px;
    &.white {
      background-position: -400px -2700px;
    }
    &.red {
      background-position: -500px -2700px;
    }
  }   
  
  &.edit {
    background-position: -300px -2800px;
    &.white {
      background-position: -400px -2800px;
    }
    &.red {
      background-position: -500px -2800px;
    }
  } 
  
  &.pretzel {
    background-position: -300px -2900px;
    &.white {
      background-position: -400px -2900px;
    }
    &.red {
      background-position: -500px -2900px;
    }
  } 
  
  &.bubble {
    background-position: -300px -3000px;
    &.white {
      background-position: -400px -3000px;
    }
    &.red {
      background-position: -500px -3000px;
    }
  }   

  &.play {
    background-position: -300px -3100px;
    &.white {
      background-position: -400px -3100px;
    }
    &.red {
      background-position: -500px -3100px;
    }
  } 

  &.calendar {
    background-position: -300px -3200px;
    &.white {
      background-position: -400px -3200px;
    }
    &.red {
      background-position: -500px -3200px;
    }
  }  

  &.postpone {
    background-position: -300px -3300px;
    &.white {
      background-position: -400px -3300px;
    }
    &.red {
      background-position: -500px -3300px;
    }
  }  
  
}

.stb-color-sprite-small {
  background: url("../images/stb-sprites/color-sprites.png") no-repeat;  
  width: 16px;
  height: 16px;
	
  &.ok {
    background-position: 0px 0px;
  }
  
  &.ok-circle {
    background-position: 0px -100px;
  }
  
  &.warning {
    background-position: 0px -200px;
  }

  &.info {
    background-position: 0px -300px;
  }  

  &.pdf {
    background-position: 0px -400px;
  }  

  &.word {
    background-position: 0px -500px;
  }

  &.excel {
    background-position: 0px -600px;
  }  

  &.powerpoint {
    background-position: 0px -700px;
  }  
  
}

.stb-color-sprite-medium {
  background: url("../images/stb-sprites/color-sprites.png") no-repeat;  
  width: 24px;
  height: 24px;
	
  &.ok {
    background-position: -100px 0px;

  }
  
  &.ok-circle {
    background-position: -100px -100px;
  }
  
  &.warning {
    background-position: -100px -200px;
  }

  &.info {
    background-position: -100px -300px;
  }  

  &.pdf {
    background-position: -100px -400px;
  }  

  &.word {
    background-position: -100px -500px;
  }

  &.excel {
    background-position: -100px -600px;
  }  

  &.powerpoint {
    background-position: -100px -700px;
  }  
  
}

// Circling of progress bar counters in forms
div.circle-12,
span.circle-12 {
  height: 24px;
  width: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}
// End of circling of progress bar counters in forms

// Circling of icons
div.circle-16,
span.circle-16 {
  height: 36px;
  width: 36px;
  padding: 10px 10px;
  margin-right: 6px;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  border-radius: 36px;
}


div.circle-24,
span.circle-24 {
  height: 48px;
  width: 48px;
  padding: 12px;
  -webkit-border-radius: 48px;
  -moz-border-radius: 48px;
  border-radius: 48px;
}
// End of circling of icons

// Removing "underline" border of links inside circled icons
div.circle-16 a,
div.circle-24 a,
span.circle-16 a,
span.circle-24 a {
  border-bottom: none;
}
// End of removing "underline" border of links inside circled icons

// Adjustments for displays with enhanced pixel density
@media
  (min--moz-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (-webkit-min-device-pixel-ratio: 2),
  (min-device-pixel-ratio: 2) {
  
  .stb-sprite-small {
    background: url("../images/stb-sprites/general-sprites-2x.png") no-repeat;
    // reduce to 1x size
    background-size: 600px;
  }
  
  .stb-sprite-medium {
    background: url("../images/stb-sprites/general-sprites-2x.png") no-repeat;
    // reduce to 1x size
    background-size: 600px;
  }
  
  .stb-color-sprite-small {
    background: url("../images/stb-sprites/color-sprites-2x.png") no-repeat;
    // reduce to 1x size
    background-size: 200px;
  }

  .stb-color-sprite-medium {
    background: url("../images/stb-sprites/color-sprites-2x.png") no-repeat;
    // reduce to 1x size
    background-size: 200px;  
  }
}

a {
  > span.stb-sprite-medium, > span.stb-color-sprite-small, >span.stb-color-sprite-medium, >span.stb-color-sprite-small{
    margin-right: 6px;
  }
}
