
/****************************
*           COLORS          *
****************************/


// PRIMARY COLORS
@stb-primary-color:        #da291c;
@stb-primary-black:        #000;
@stb-primary-white:        #fff;

// FUNCTION COLORS
// blue
@stb-func-color-first:     #005378;
@stb-func-color-first-light: #0086c0;

// green(ish)
@stb-func-color-second: #7a9a4a;
@stb-func-color-second-light: #eef9c8;

// white/red
@stb-func-color-third:    @stb-primary-color;
@stb-func-color-third-light: @stb-primary-white;


// SUPPORT COLORS (greys)
@stb-support-color1:       #4e4d4d;
@stb-support-color2:       #787878;
@stb-support-color3:       #dadada;
@stb-support-color4:       #f4f4f4;


// CONTRAST COLORS
@stb-contrast-storebrand1: #881a11;
@stb-contrast-storebrand2: #b32217;
@stb-contrast-storebrand3: #da291c;
@stb-contrast-storebrand4: #da6057;

@stb-contrast-positive1:   #4c602e;
@stb-contrast-positive2:   #627c3c;
@stb-contrast-positive3:   #7a9a4a;
@stb-contrast-positive4:   #a9c17e;

@stb-contrast-negative1:   #b57415;
@stb-contrast-negative2:   #e0901a;
@stb-contrast-negative3:   #faa11d;
@stb-contrast-negative4:   #f9b753;

@stb-contrast-neutral1:    #4e4d4d;
@stb-contrast-neutral2:    #787878;
@stb-contrast-neutral3:    #dadada;
@stb-contrast-neutral4:    #f4f4f4;


// CUSTOM GREEN
@stb-color-custom-green:   @stb-func-color-second-light;

/*
* Abstract away color-names in classes:
* This lets us separate concerns; no colors defined in the markup,
* lets us change/tune profile without touching any markup at all
*/

// PRIMARY COLORS (stb-red, black, white)
.stbcolor-primary {
  &.first {
    background-color: @stb-primary-color;

    // white text
    p,ul,ol {
      color: @stb-primary-white;
    }
    // link style:
    a {
      color: @stb-primary-white;
      text-decoration: underline;
    }
  }

  &.second {
    background-color: @stb-primary-black;
  }

  &.third {
    background-color: @stb-primary-white;
  }

}

// FUNCTION COLORS (normal+light version)
.stbcolor-func {
  &.first {
    background-color: @stb-func-color-first;
    p,ul,ol {
      color: @stb-support-color4;
    }
    &.light {
      background-color: @stb-func-color-first-light;
    }
  }
  &.second {
    background-color: @stb-func-color-second;
    &.light {
      background-color: @stb-func-color-second-light;
    }
  }
  &.third {
    background-color: @stb-func-color-third;
    &.light {
      background-color: @stb-func-color-third-light;
    }
  }
}

// SUPPORT COLORS (greys)
.stbcolor-support {
  &.first {
    background-color: @stb-contrast-neutral1;
  }
  &.second {
    background-color: @stb-contrast-neutral2;
    p,ul,ol {
      color: @stb-support-color4;
    }
    a {
      color: @stb-primary-white;
      text-decoration: underline;
    }
  }
  &.third {
    background-color: @stb-contrast-neutral3;
  }
  &.fourth {
    background-color: @stb-contrast-neutral4;
    p {
      color: @stb-primary-black;
    }
    a {
      
    }
  }
}

// CONTRAST COLORS (positive,negative,storebrand,neutral)
.stbcolor-contrast {
  &.first {
    background-color: @stb-contrast-positive1;
    // variations:
    &.a {
      background-color: @stb-contrast-positive1;
    }
    &.b {
      background-color: @stb-contrast-positive2;
    }
    &.c {
      background-color: @stb-contrast-positive3;
    }
    &.d {
      background-color: @stb-contrast-positive4;
    }
  }

  &.second {
    background-color: @stb-contrast-negative1;
    &.a{
      background-color: @stb-contrast-negative1;
    }
    &.b{
      background-color: @stb-contrast-negative2;
    }
    &.c{
      background-color: @stb-contrast-negative3;
    }
    &.d{
      background-color: @stb-contrast-negative4;
    }
  }

  &.third {
    background-color: @stb-primary-color;
  }

  &.fourth {
    background-color: @stb-contrast-neutral1;
    &.a{
      background-color: @stb-contrast-neutral1;
    }
    &.b{
      background-color: @stb-contrast-neutral2;
    }
    &.c{
      background-color: @stb-contrast-neutral3;
    }
    &.d{
      background-color: @stb-contrast-neutral4;
    }
  }

}

// phew...!

