list-group.stb-list-group {
  .list-group();
}

.center {
  text-align: center;
}

a.list-group-item:hover {
  background-color: @stb-secondary-sand;
}

a.list-group-item.moss:hover {
  background-color: @stb-secondary-moss;
  color: @stb-primary-white;
}

a.list-group-item.forest:hover {
	background-color: @stb-secondary-forest;
	color: @stb-primary-white;
}

a.list-group-item.dust:hover {
	background-color: @stb-secondary-dust;
	color: @stb-primary-white;
}

a.list-group-item.nude:hover {
	background-color: @stb-secondary-nude;
	color: @stb-primary-white;
}

//Links selection with no right og left border

.stb-list-group a.list-group-item.links{
  border-left:none; 
  border-right:none;
  border-radius: 0px;
}

.stb-list-group a.list-group-item.links:hover{
  background-color: #F2F2F2;  
  cursor: pointer;
}

.floatRight{
	float:right;
}

.floatLeft{
	float:left;
}
