/****************************
*         TYPOGRAPHY        *
****************************/

/* Signa Web fonts */
@font-face {
  font-family: 'SignaWeb-Book';
  src: url('../fonts/SignaWeb-Book.eot');
  src: url('../fonts/SignaWeb-Book.eot?iefix') format('eot'),
       url('../fonts/SignaWeb-Book.woff') format('woff');
}
@font-face {
  font-family: 'SignaWeb-Light';
  src: url('../fonts/SignaWeb-Light.eot');
  src: url('../fonts/SignaWeb-Light.eot?iefix') format('eot'),
       url('../fonts/SignaWeb-Light.woff') format('woff');
}

// Open Sans files retrieved from http://www.google.com/fonts/#QuickUsePlace:quickUse/Family:Open+Sans
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Open-Sans-Light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Open-Sans-Bold.woff') format('woff');
}

// Font definitions
@font-family-monospace:       Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-sans-serif:      "Open Sans", Arial, ArialMT, sans-serif;
@font-family-sans-serif-bold: "Open Sans Bold", Arial, ArialMT, sans-serif;
@font-family-signa-book:           "SignaWeb-Book", Arial, "Times New Roman", Times, serif;
@font-family-signa-light:     "SignaWeb-Light", Arial, "Times New Roman", Times, serif;

.stb-font {
  font-family: @font-family-signa-book;
}

.stb-font-light {
  font-family: @font-family-signa-light;
}

hr {
  &.fat {
    border-top: 2px solid @stb-gray-second;
    margin: 0;
  }
}

// h1-h6:
h1 {
  font-size: 40px;
  line-height: 46px;
  margin: 0;
  padding: 14px 14px 14px 0;
  color: @stb-primary-color;
  font-family: @font-family-signa-light;
  &.dark {
    color: @stb-primary-white;
  }
}
h2 {
  font-size: 40px;
  line-height: 46px;
  margin: 0;
  padding: 12px 12px 12px 0;
  color: @stb-primary-black;
  font-family: @font-family-signa-light;
  &.dark {
    color: @stb-primary-white;
  }  
}
h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
  padding: 12px 12px 12px 0;
  color: @stb-primary-black;
  font-family: @font-family-signa-book;
  &.dark {
    color: @stb-primary-white;
  }
}
.box {
  font-weight: normal;
}
h4 {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 10px 10px 10px 0;
  color: @stb-primary-black;
  font-family: @font-family-sans-serif-bold;
  &.stbfont {
    font-family: @font-family-signa-book;
  }
  &.dark {
    color: @stb-primary-white;
  }
}
h5 {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 10px 10px 10px 0;
  color: @stb-primary-black;
  font-family: @font-family-sans-serif-bold;
  &.dark {
    color: @stb-primary-white;
  }
}
h6 {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 10px 10px 10px 0;
  color: @stb-primary-black;
  font-family: @font-family-sans-serif-bold;
  &.dark {
    color: @stb-primary-white;
  }
}

h1.link,
h2.link,
h3.link,
h4.link,
h5.link {
  text-decoration:underline;
}

p {
  font-size: 16px;
  line-height: 24px;
  color: @stb-primary-black;
  font-family: @font-family-sans-serif;
  &.intro {
    font-size: 24px;
    line-height: 30px;  
  }
}

.input-required {
  color: @stb-primary-color;
  font-weight: bold;
}

.input-faulty {
  color: @stb-primary-color;
}

.input-valid {
  color: @stb-secondary-forest;
}

small, .petit {
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  font-family: @font-family-sans-serif;
}

blockquote {
  font-size: 16px;
  line-height: 22px;
  border-left: 5px solid @stb-primary-color;
}

p a,
div a{
  text-decoration: none;
  border-bottom: 1px solid @stb-secondary-charcoal;
  padding-bottom: 1px;
  &.twister, &.dropdown-toggle{
    border: 0;
  }
  &.tab-link{
    padding-bottom: 0;
    border-radius: 0 !important;
    border-bottom: 0;
  }
}

p a:hover,
div a:hover {
  text-decoration: none;
  border-bottom: 1px solid @stb-primary-color;
  padding-bottom: 1px;
  &.twister, &.dropdown-toggle{
    border: 0;
  }
  &.tab-link{
    padding-bottom: 0;
    border-radius: 0;
    border-bottom: 0;
  }
}

a, a:hover {
  color: @stb-secondary-charcoal;
  font-weight: bold;
}

a:visited {
  color: @stb-secondary-dust;
  font-weight: bold;
}

a.help, a.help:hover, a.help:visited {
  color: @stb-secondary-dust;
  font-weight: bold;
}

// Links for listgroup
a.list-group-item.links {
  text-decoration: none;
}
a.list-group-item.links:hover{
  text-decoration: none;
  border-bottom: none;
  padding: 10px 15px;
}

// inline: force elements to inline + skip padding:
.inline {
  display: inline;
  .clearfix();
}

// Styling of ordered and unordered lists
ul, ol {
  padding-left: 0;
}

//Bold numbers in ordered lists
ol.bold{
  font-weight:bold;
}
ol li span.light {
font-weight:normal;
}

// padding for sub-lists:
ul li ul,
ol li ol,
ol li ul {
  padding-left: 10px;
}

ul.stb,ol.stb { 
  margin: 0px 0px 0px 20px;
  padding-bottom: 14px;
  li {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 10px;

    //Special handling for double-nested lists
    ul.stb,ol.stb {
      //margin: 8px 10px 0px 10px;
      margin: 0px 0px 0px 10px;
      padding: 0 0 0 14px;
      li {
        font-size: 16px;
        line-height: 22px;
      }
      li:last-child {
        padding-bottom: 0;
      }
    }
  } //end:li
  li:last-child{
    padding-bottom: 0;
  }

} //end:ul.stb

// End of styling of ordered and unordered lists

// Media queries for typography

// Small devices 
@media (max-width: @screen-sm-min) {
  h1 {
    font-size: 24px;
    line-height: 30px;
  }
  
  h2 {
    font-size: 24px;
    line-height: 30px;
  }
  
  h3 {
    font-size: 16px;
    line-height: 22px;
  }  

  p {
    font-size: 14px;
    line-height: 18px;
    &.intro {
      font-size: 18px;
      line-height: 24px;
    }
  }
  
  blockquote {
    font-size: 14px;
    line-height: 18px;
  }

  ul.stb,ol.stb { 
    li {
      font-size: 14px;
      line-height: 18px;  
    }
  }
}

// Start styling of diamonds
.numeric-diamond .bg {
  display: block;
  background: @stb-primary-color;
  width: 65px;
  height: 65px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: 0 auto;
}

.numeric-diamond .count {
  color: @stb-primary-white;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  display: block;
  position: relative;
  top: -50px;
}

@media screen and (max-width:992px) {
  .numeric-diamond {
    margin-top: 30px;
	}
}

// End styling of diamonds
