/****************************
*           COLORS          *
****************************/

// PRIMARY COLORS
@stb-primary-color:      #da291c;
@stb-primary-black:      #000;
@stb-primary-white:      #fff;

// SECONDARY COLORS (Need a better / more descriptive name...)
@stb-secondary-charcoal: #404040;

@stb-secondary-moss:     #5f6e57;
@stb-secondary-forest:   #819f2b;
@stb-secondary-dust:     #776654;
@stb-secondary-nude:     #e6d1b8;
@stb-secondary-sand:     #efe8df;
@stb-secondary-sky:      #b0dfdb;

// CHART COLORS
@stb-chart-orange:       #faa61a;
@stb-chart-peach:        #fff0d9;
@stb-chart-rose:         #fff0f0;
@stb-chart-mint:         #ecf2c2;

// OUTLINE COLORS
@stb-outline-pink:       #ffb3b3;
@stb-outline-lime:       #A8C432; 

// GREY COLORS
@stb-gray-first:         #f2f2f2;
@stb-gray-second:        #e6e6e6;
@stb-gray-third:         #ccc;
@stb-gray-fourth:        #a6a6a6;
@stb-gray-fifth:         #666;

// DARKER COLORS
@stb-primary-color-darker:     #bb1b18;
@stb-primary-color-even-darker: #A61916;
@stb-secondary-forest-darker:  #6c8524;
@stb-secondary-moss-darker:    #5f6e57;
@stb-secondary-dust-darker:    #776654;
