@import "stb-colors.less";

.category-banner .image {
	background: transparent url("../images/chalkdust1.png") left top no-repeat;
	
}

.category-banner h1, .category-banner p{
	color: @stb-primary-white;
}

.contactbox {
	padding-left: 20px;
	padding-right: 20px;
	border: 2px solid @stb-gray-second;
}

.contactbox p{
	font-size: 20px;
	line-height: 30px;
	color: @stb-secondary-charcoal;
}

.help {
	border: 2px solid @stb-primary-color;
	padding-left: 20px;
	padding-right: 20px;
}

hr{
	border-color: @stb-gray-fourth;
	margin:0;
}

.righticon{
	position: absolute;
	top: 50%;
	right:20%;
}

@media screen and (max-width:992px) {
	
	.savepension p.intro{
		width: 100%;
	}
	
	
}
