
.stb-btn {
  //----------------------------------------  import BS defaults:
  .btn;
  .btn-default;

  &:focus{
  outline: 0;
  }
  
  //---------------------------------------- default:
  // base setup:
  border: none;
  .stbcolor-secondary.third;
  height:40px;
  border-radius: 0px;
  font-weight: bold;
  padding: 0 10px;
  min-width: 100px;

  // stop ppl from making too long buttons
  max-width: 200px;
  overflow: hidden;
  cursor: pointer;

  // smooth transitions on hover:
  .transition(all .025s ease-in-out);
  transition-property: background-color, color;

  // States:
  &:hover,&:focus,&:active {
    .stbcolor-secondary.second;
  }

  &.disabled {
    background-color: @stb-support-color2;
    color: @stb-grey-third;
    cursor: not-allowed;

    &:hover,&:active,&:focus {
      background-color: @stb-support-color2;
      color: @stb-primary-white;
    }
  }

  
  //---------------------------------------- primary:
  &.primary {
    // for now btn is primary, maybe set classname for the default also?
    
  }

//---------------------------------------- Secondary1:
  &.secondary1 {
    
    .stbcolor-grey.fifth;
    line-height: 1;

    &:hover {
      .stbcolor-grey.third;
      .box-shadow(none);
    }
    &:focus,&:active {
      .box-shadow(none);
    }

    &.disabled {
      background-color: transparent;
      color: @stb-grey-third;
      border-color: @stb-support-color1;
      cursor: not-allowed;
    }
  }

//---------------------------------------- alarm:
  &.alarm {
      background-color: @stb-primary-color;
      color: @stb-primary-white;
      &:hover {
        color: @stb-grey-third; 
        border-color: @stb-contrast-storebrand1;
      }

    &.disabled {
      background-color: @stb-support-color2;
      color: @stb-grey-third;
      cursor: not-allowed;
    }

  }

//---------------------------------------- icon:
  &.link-icon {
    //.stbcolor-secondary.third;
    background-color: @stb-primary-white;
    //color: @stb-func-color-first-light;
    color: @stb-secondary-forest;

    &:hover,&:focus {
      color: @stb-support-color2;
      .box-shadow(none);
    }

    &:active {
      background-color: @stb-support-color4;
    }

    &.disabled {
      color: @stb-grey-third;
      cursor: not-allowed;
    }

    &.linksec1 {
      color: @stb-grey-fifth;
      &:hover{
        color:@stb-grey-third;
      }
    }

    &.linkalarm {
      color: @stb-primary-color;
    }
  }


  //---------------------------------------- Sizes:
  &.stb-btn-lg {
    font-size: 18px;
    height: 40px;
    padding: 0 20px;
    min-width: 160px;

    max-width: 300px;
    overflow: hidden;

  }

  &.stb-btn-sm {
    .btn-sm();
  }

  &.stb-btn-xs {
    .btn-xs();
  }

}



