/***********************************
*  Custom inline form based on BS  *
************************************/

.stb-form-inline {

  .form-inline();

  input {
    .form-control();
    // tweak the default BS transition-speed:
    .transition(~"all ease-in-out .025s, box-shadow ease-in-out .025s");
    display: inline-block; 

    &:hover {
      color: @stb-secondary-charcoal;
      border-color: @stb-secondary-charcoal;
      &[disabled] {
        border-color: @stb-gray-fourth;
      }
    }

  }

  // input and buttons line up with no spacing:
  input.has-submit {
    .border-right-radius(0);
  }
  button.is-submit {
    .border-left-radius(0);
    position: relative;
    height: 34px;
    left: -4px;
  }

  .stb-form-group {
    .form-group(); //Adds sane margins

    display: inline-block;
    vertical-align: middle;

    >label {
      height: 15px; //half of input-height
    }
    
    // Ok colors
    &.valid {
      input {
        background-color: @stb-background-mint;
        border-color: @stb-outline-lime;
        color: @stb-primary-black;        
      }
    }

    // Alarm colors:
    &.alarm {
      input {
        background-color: @stb-background-rose;
        border-color: @stb-outline-pink;
        color: @stb-primary-black;
      }
      button {
        background-color: @stb-primary-color;
        color: @stb-primary-white;
      }
    }

    // handle hover-styles for both input and button:
    &:hover {

      input.has-submit {
        border-color: @stb-secondary-charcoal;
        &[disabled]{
          border-color: @stb-gray-third;
        }       
      }
      button.is-submit {
        background-color: @stb-secondary-forest-darker;
        &[disabled]{
          background-color: @stb-gray-fourth;
        }
      }
      
      // Alarm colors:
      &.alarm {
        input.has-submit {
          background-color: @stb-background-rose;
          border-color: @stb-outline-pink;
          color: @stb-primary-black;
        }
        button.is-submit {
          background-color: @stb-primary-color;
          color: @stb-primary-white;
        }
      }

    }
  } //end:stb-form-group

  button[disabled] {
    background-color: @stb-gray-fourth;
    &:hover {
      background-color: @stb-gray-fourth;
    }
  }
  input[disabled] {
    background-color: @stb-support-color4;
    color: @stb-support-color3;
  }

}


/***************************************
* Custom checkbox + radio using images *
****************************************/
// reference: http://www.thecssninja.com/css/custom-inputs-using-css

form.stb-custom-form {

  label {
    padding-left: 32px;
    padding-top: 4px;
  }

  input.stb-custom-input {
    padding: 0;
    margin: 0;
    height: 16px;
    width: 16px;
    float: left;
    position: absolute;
    left: 0;
    opacity: 0;
  }

  // the :not-selector keeps IE8 from trying to parse, degrading gracefully
  // use a md5 hash so we're sure we dont affect any 'real' elements
  &:not(#foo_4fb3cf3aee22719b0a464e043903bb3e) {
    input:hover + label,
    input:focus + label,
    input + label:hover,
    input:focus + label {
    }

    input + label {
      background: url(../images/stb-form-sprites.png) -8px -7px no-repeat;
      height: 31px;
    }
    input[type=radio] + label {
      background-position: -8px -167px;
    }
    input[type=radio]:checked + label {
      background-position: -8px -208px;
    }
    input[type=checkbox]:checked + label {
      background-position: -8px -48px;
    }

    input[type=checkbox]:hover:checked + label,
    input[type=checkbox]:focus:checked + label,
    input[type=checkbox]:checked + label:hover,
    input[type=checkbox]:focus:checked + label {
      // background-position: 0 -101px;
    }

    input[type=radio]:hover:checked + label,
    input[type=radio]:focus:checked + label,
    input[type=radio]:checked + label:hover,
    input[type=radio]:focus:checked + label {
      // background-position: -8px -208px;
    }

    /* Hover & Focus styles */
    input[type=checkbox]:hover + label,
    input[type=checkbox]:focus + label,
    input[type=checkbox] + label:hover {
      // background-position: 0 -21px;
    }

    input[type=radio]:hover + label,
    input[type=radio]:focus + label,
    input[type=radio] + label:hover {
      // background-position: 0 -181px;
    }

    /* Active styles */
    input[type=checkbox]:active + label,
    input[type=checkbox] + label:hover:active {
      // background-position: 0 -41px;
    }
    input[type=radio]:active + label,
    input[type=radio] + label:hover:active {
      // background-position: 0 -201px;
    }
    input[type=checkbox]:active:checked + label,
    input[type=checkbox]:checked + label:hover:active {
      // background-position: 0 -121px;
    }
    input[type=radio]:active:checked + label,
    input[type=radio]:checked + label:hover:active {
      // background-position: -8px -208px;
    }

    /* Disabled styles */
    input[type=checkbox]:disabled + label,
    input[type=checkbox]:hover:disabled + label,
    input[type=checkbox]:focus:disabled + label,
    input[type=checkbox]:disabled + label:hover,
    input[type=checkbox]:disabled + label:hover:active {
    }
    input[type=checkbox]:disabled:checked + label,
    input[type=checkbox]:hover:disabled:checked + label,
    input[type=checkbox]:focus:disabled:checked + label,
    input[type=checkbox]:disabled:checked + label:hover,
    input[type=checkbox]:disabled:checked + label:hover:active {
      background-position: -8px -88px;
    }

  } // end of :not(#foo) (IE8 fix)

}
