.toc-list{
  p{
    cursor: pointer;
  }

  &:hover{
    text-decoration: none;
    background-color: @stb-gray-first;
  }

  li {
    line-height: 32px;
  }
  
  ul.items {
  	display: none;
  }

  ul ul li{
    list-style-type: disc;
  }
}
 h3.toc-header {
  	padding-bottom: 0;
 }
