// Progressbar-like breadcrumbs

@progrow-separator-width: 104%;

ul.stb-progressrow {

  list-style-type: none;

  // base setup
  li {
    display: inline-block;
    height: 20px;
    min-width: 125px;
    color: @stb-primary-black;
    padding: 0;
    margin: 0;
    .text-center();

    // larger version:
    &.lg {
      height: 30px;
      min-width: 140px;
      vertical-align: middle;
      line-height: 30px;

    }
  }

  // define light-grey version
  // we use a few psuedo-selectors to make the "arrow" separators work
  li.light {
    background-color: @stb-gray-first;

    // define the "arrow" separator:
    &:after {
      content: "";
      height: 20px;
      width: @progrow-separator-width;
      display: inline-block;
      background-image: url(../images/progressrow-sm/progrow-light-to-light.png);
      background-repeat: no-repeat;
      background-position: right;
    }

    // arrow switches from light to grey
    &.switch-to-grey:after {
      content: "";
      height: 20px;
      width: @progrow-separator-width;
      display: inline-block;
      background-image: url(../images/progressrow-sm/progrow-light-to-gray.png);
      background-repeat: no-repeat;
      background-position: right;
    }

    // last-child should not have arrow
    &:last-child:after {
      display: none;
    }

    // Large variant: uses larger bg-image

    // add the "arrow" between li's
    &.lg:after {
      height: 30px;
      position: relative;
      top: -30px;
      width: @progrow-separator-width;
      background-image: url(../images/progressrow-lg/progrow-light-to-light.png);
    }

    // arrow switches from light to grey
    &.lg.switch-to-grey:after {
      height: 30px;
      background-image: url(../images/progressrow-lg/progrow-light-to-gray.png);
    }

  }

  // 'dark' version: currently blue.
  li.dark {
    background-color: @stb-secondary-forest;
    color: @stb-primary-white;

    &:after {
      content: "";
      height: 20px;
      width: @progrow-separator-width;
      display: inline-block;
      background-image: url(../images/progressrow-sm/progrow-forest-to-forest.png);
      background-repeat: no-repeat;
      background-position: right;
    }

    &.switch-to-grey:after {
      content: "";
      height: 20px;
      width: @progrow-separator-width;
      display: inline-block;
      background-image: url(../images/progressrow-sm/progrow-forest-to-gray.png);
      background-repeat: no-repeat;
      background-position: right;
    }

    // todo: last-child

    // Large variant: uses larger bg-image

    // add the "arrow" between li's
    &.lg:after {
      height: 30px;
      position: relative;
      top: -30px;
      width: @progrow-separator-width;
      background-image: url(../images/progressrow-lg/progrow-forest-to-forest.png);
    }

    // arrow switches from light to grey
    &.lg.switch-to-grey:after {
      height: 30px;
      background-image: url(../images/progressrow-lg/progrow-forest-to-gray.png);
    }
  }
  // disabled state used to indicate steps yet to be reached
  li.disabled {
    background-color: @stb-gray-third;
    &:after {
      content: "";
      height: 20px;
      width: @progrow-separator-width;
      display: inline-block;
      background-image: url(../images/progressrow-sm/progrow-gray-to-gray.png);
      background-repeat: no-repeat;
      background-position: right;
    }
    &:last-child:after {
      display: none;
    }
  }
}

/****************************
*      Progress-bars        *
*****************************/

.stb-progress {
  .progress();
  background-color: @stb-gray-second;
  .box-shadow(inset 0 0 4px rgba(0,0,0,.35));

  &.grey {
    
    .stb-progress-bar {
      background-color: @stb-gray-third;
      .box-shadow(inset 0 0 4px rgba(0,0,0,.35));
    }
  }

  .stb-progress-bar {
    .progress-bar();
    .box-shadow(inset 0 0 4px rgba(0,0,0,.55));

    .border-right-radius(2px);
    background-color: @stb-secondary-forest;
  }
}