/****************************
*           COLORS          *
****************************/

// PRIMARY COLORS
@stb-primary-color:      #da291c;
@stb-primary-black:      #000;
@stb-primary-white:      #fff;

// SECONDARY COLORS (Need a better / more descriptive name...)
@stb-secondary-charcoal: #404040;

@stb-secondary-moss:     #5f6e57;
@stb-secondary-forest:   #6c8524;
@stb-secondary-dust:     #776654;
@stb-secondary-nude:     #e6d1b8;
@stb-secondary-sand:     #efe8df;
@stb-secondary-sky:      #b0dfdb;

// BACKGROUND COLORS
@stb-background-rose:    #fff0f0;
@stb-background-mint:    #ecf2c2;

// CHART COLORS
@stb-chart-orange:       #faa61a;
@stb-chart-peach:        #fff0d9;

// OUTLINE COLORS
@stb-outline-pink:       #ffb3b3;
@stb-outline-lime:       #819f2b; 

// GREY COLORS
@stb-gray-first:         #f2f2f2;
@stb-gray-second:        #e6e6e6;
@stb-gray-third:         #ccc;
@stb-gray-fourth:        #a6a6a6;
@stb-gray-fifth:         #666;

// DARKER COLORS
@stb-primary-color-darker:     #bf1d19;
@stb-secondary-forest-darker:  #576b1d;


/*
* Abstract away color-names in classes:
* This lets us separate concerns; no colors defined in the markup,
* lets us change/tune profile without touching any markup at all
*/

// PRIMARY COLORS (stb-red, black, white)
.stbcolor-primary {
  &.first {
    background-color: @stb-primary-color;
    // white text
    a, p, ul, ol, h1, h2, h3, h4, h5, h6 {
      color: @stb-primary-white;
    }
    // link style:
    a {
      color: @stb-primary-white;
      text-decoration: underline;
    }
    &.darker {
      background-color: @stb-primary-color-darker;
    }
    &.lighter {
      background-color: @stb-outline-pink;    
    }
  }

  &.second {
    background-color: @stb-primary-black;
    p {
      color: @stb-primary-white;
    }
  }

  &.third {
    background-color: @stb-primary-white;
    p {
      color: @stb-primary-black;
    }    
  }

  }

// BACKGROUND COLORS (moss, lime, dust, nude, sand)
.stbcolor-background {
  &.first {
    background-color: @stb-background-rose;
    border: 1px solid @stb-outline-pink; 
  }
  
  &.second {
    background-color: @stb-background-mint;
    border: 1px solid @stb-outline-lime;    
  }

  &.third {
    background-color: @stb-primary-color;
    a, p, ul, ol, h1, h2, h3, h4, h5, h6 {
      color: @stb-primary-white;
      } 
  }
}

// SECONDARY COLORS
.stbcolor-secondary {
  &.first {
    background-color: @stb-secondary-charcoal;
    a, p, ul, ol, h1, h2, h3, h4, h5, h6 {
      color: @stb-primary-white;
    }
  }
  
  &.second {
    background-color: @stb-secondary-moss;
    a, p, ul, ol, h1, h2, h3, h4, h5, h6 {
      color: @stb-primary-white;
    } 
  }

  &.third {
    background-color: @stb-secondary-forest;
    a, p, ul, ol, h1, h2, h3, h4, h5, h6 {
      color: @stb-primary-white;
    }
    &.darker {
      background-color: @stb-secondary-forest-darker;
    }    
    &.lighter {
      background-color: @stb-outline-lime;
    }     
  }

  &.fourth {
    background-color: @stb-secondary-dust;
    a, p, ul, ol, h1, h2, h3, h4, h5, h6 {
      color: @stb-primary-white;
    }
  }
  
  &.fifth {
    background-color: @stb-secondary-nude;
  }

  &.sixth {
    background-color: @stb-secondary-sand;
  }  

  &.seventh {
    background-color: @stb-secondary-sky;
    h1, h2, h3, h4, h5, h6{
      color: @stb-primary-black;
    }
  }
  
 }
 
// GRAY COLORS
.stbcolor-gray {
  &.first {
    background-color: @stb-gray-first;
    p {
      color: @stb-primary-black;
    }
  }
  
  &.second {
    background-color: @stb-gray-second;
    p {
      color: @stb-primary-black;
    }    
  }
  
  &.third {
    background-color: @stb-gray-third;
    p {
      color: @stb-primary-black;
    }    
  }
  
  &.fourth {
    background-color: @stb-gray-fourth;
    p {
      color: @stb-primary-black;
    }    
  }
  
  &.fifth {
    background-color: @stb-gray-fifth;
  }
}

// CHART COLORS
.stbcolor-visuals {
  &.first {
    background-color: @stb-chart-orange;  
  }
  
  &.second {
    background-color: @stb-chart-peach;    
  }
}

// BACKGROUNDS THAT ARE NOT PURE COLORS 
.background  {
  &.wood {
    background: url("../images/wood.png") left top repeat;
  }
}
 
// Phew...!
